{% comment %}
  Footer for lesson pages.
{% endcomment %}

{% include gh_variables.html %}

<div class="footer-container">
  <footer>
    <p id="footer-citation" style="font-size: 11px">
      <img class="kp-logo-footer" style="float: left; opacity: 1.0; margin-right: 15px;" title="KnowPulse" src="https://knowpulse.usask.ca/portal/sites/default/files/logo_knowpulse.png" alt="KnowPulse" width="75" height="73">
      <strong>KnowPulse</strong>
      <br />
      Sanderson L-A, Caron CT, Tan R, Shen Y, Liu R and Bett KE (2019) KnowPulse: A Web-Resource Focused on Diversity Data for Pulse Crop Improvement. Front. Plant Sci. 10:965. doi: 10.3389/fpls.2019.00965
    </p>
    <p id="footer-logos">
      <a href="https://www.usask.ca" target="_blank">
        <img title="University of Saskatchewan" src="https://knowpulse.usask.ca/portal/sites/default/files/uofs-logo-grey.png" alt="University of Saskatchewan" width="134" height="30" border="0">
      </a>
      <a title="Saskatchewan Pulse Growers" href="http://saskpulse.com" target="_blank">
        <img src="https://knowpulse.usask.ca/portal/sites/default/files/pulse-logo.png" alt="" width="90" height="44" border="0">
      </a>
    </p>
  </footer>
</div>
