body {
  font-size: 20px;  
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #eeeeee;
}

a, a:visited {
  color: green;
}

.container {
  margin-top: 30px;
}
.attribution {
  font-size: 11px;
  font-style: italic;
  font-color: grey;
}

/** Images **/
article img {
  padding: 5px;
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
      box-shadow: 1px 1px 5px #999;
}
/** Blockquotes **/
/** -- Prerequisites */
.prereq h2 {
  background: #314355;
  border-color: #314355;
  color: white;
  font-weight: bold;
  padding-left: 20px;
}
.prereq {
  border-color: #314355;
  background-color: #f9f9f9;
}
.prereq h2::before {
  content: '';
}

/** -- Episode Overview */
blockquote.objectives {
  background-color: #FBFDF0;
  border-color: #008000;
}
blockquote.objectives h2 {
  background: #008000;
  border-color: #008000;
  color: white;
  font-weight: bold;
}

/** -- Key Points */
blockquote.keypoints {
  background-color: #FBFDF0;
  border-color: #008000;
}
blockquote.keypoints h2 {
  background: #008000;
  border-color: #008000;
  color: white;
  font-weight: bold;
}

/** TABLES **/
table {
  background: #fff;
  margin-bottom: 1.25rem;
  border: solid 1px #ddd;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
}
table tr th {
  background-color: #314355;
  color: white;
  font-weight: bold;
}
th.lesson-site, th.lesson-repo, td.lesson-site, td.lesson-repo {
  width: 80px;
  text-align: center;
}
th.lesson-maintainer, td.lesson-maintainer {
  width: 100px;
}
td.lesson-maintainer {
  font-size: 11px;
}

/** HEADER **/
.site-header {
  background: url('/assets/banner.jpg');
  height: 62px;
}
.site-title, .site-title:visited {
  color: white;
  font-weight:600;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 26px;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
header .wrapper {
  width: 970px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/** FOOTER **/
.footer-container {
  background-color:#161617;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}
footer {
  width: 1170px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  padding-top: 20px;
}
#footer-citation {
  float: left;
  width: 60%;
}
#footer-logos {
  float: right;
  width: 300px;
  margin-top: 15px;
}
